<%-include("../partials/header")%>
<!-- <img src="" alt="image"> -->
<div class="input-box">
<form action="/pages/imageupload" method="post" class="row g-4"  enctype="multipart/form-data">
<input type="file" name="file" multiple>
<input type="text" name="details" placeholder="details">
<input type="text" name="image" required placeholder="image">
<input type="text" name="name" required placeholder="name">
<input type="number" name="price" required placeholder="price">
<input type="number" name="quantity" required placeholder="qty">
<input type="submit" value="upload">
</form>
</div>
<%-include("../partials/footer")%>